<div class="div-block-19">
  <div class="text-block-8">RECENT ACTIONS</div>
  <div class="div-block-20 title">
    <div class="text-block-9">Action</div>
    <div class="text-block-9">Date</div>
    <div class="text-block-9">Tx Id</div>
  </div>
  <div class="div-block-30">
    <div class="div-block-20" *ngFor="let action of actions" >
      <div class="text-block-10">{{ action.actionName }}</div>
      <div class="text-block-10">{{ action.time | date:'medium' }}</div>
      <div class="text-block-10 link"><a (click)="openTrxWindow(action.txId)">{{ action.getTrxIdFormatted() }}</a></div>
    </div>
  </div>
</div>
