<div id="mySidenav" [ngClass]="{'sidenav': true, 'sidenav-open': sideBarVisibility}">
  <div id="user-side-bar" class="div-block-17">
    <div class="div-block-18">
      <div><strong class="bold-text">gyzdcmbug4ge</strong></div>
      <div class="text-block-7">Account Name</div>
    </div>
    <div class="div-block-19">
      <div class="div-block-20">
        <div class="text-block-8">TOKENS</div>
      </div>
    </div>
    <div class="div-block-19">
      <div class="div-block-20">
        <div class="text-block-8">RESOURCES</div>
      </div>
    </div>
    <div class="div-block-19">
      <div class="div-block-20">
        <div class="text-block-8">RECENT TRANSACTIONS</div>
      </div>
    </div>
  </div>
</div>
